DATABASE_URL="postgresql://postgres:PbekimPXFwTCSlhxwfxRNsfSdoOnQaeP@postgres.railway.internal:5432/railway"

JWT_SECRET="0GkUZZHDDNtPaFyQlREP7Oc31X6gR8elty2Kczs0d4VnRJgq7cHMBeye11QjYU89biNemnqImbIutmUJE8vX1w=="
JWT_EXPIRES_IN="1d"

QR_TOKEN_SECRET="jeTdYocJ0iZ6ot+Fm5sJak9XEPrsFDJFlBxJQp6MM4uVVx2tsw6d7f4xNEkAGPn3tPx7otinXMT07i1GHJckjA=="
QR_TOKEN_EXPIRES_IN="15m"

FRONTEND_APP_URL="http://localhost:3001"

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

PORT="3000"
