EXPO_PUBLIC_API_BASE_URL=http://localhost:3000
EXPO_PUBLIC_SUPPORT_EMAIL=notifications@notification.notifyus.uk
EXPO_PUBLIC_SUPPORT_LABEL=Support team
EXPO_PUBLIC_EXPO_PROJECT_ID="ded5699f-b56c-4ddf-8281-bbc1dc91e5f6"
